@import url("http://fonts.googleapis.com/css?family=Noto+Sans");

/*** Fontawesome Icons ***/
.fa:before {
	display: inline-block;
	font: 2em "FontAwesome", sans-serif;
	color: #5d3204;
	padding-left: 10px;
}

body {
	background-color: #eee;
	font-family: "Noto Sans", sans-serif;
}

.container-fluid {
	background-color: #bbe39e;
	box-shadow: 5px 5px 10px #aaa, -5px 5px 10px #aaa;
}

.row {
	padding: 0 30px;
}

/*** Scroll to top button ***/
.scrollToTop{
	width: 70px; 
	height: 60px;
	padding: 10px; 
	position: fixed;
	top: 75px;
	right: 10px;
	display: none;
}

.scrollToTop img {
	width: 50px;
	height: 50px;
}

.scrollToTop:hover{
	text-decoration:none;
}

/*** Header Section ***/
header {
	color: #5d3204;
	padding: 14px 30px !important;
	border-bottom: 2px solid #629c39;
}

.title-name {
	font-size: 3.5em;
	padding-bottom: 0;
	margin-bottom: 0;
}

.title-subtitle {
	padding-top: 0px;
	margin-top: 0px;
}

.headshot {
	max-width: 145px;
	height: auto;
}

/*** Navigation ***/
ul {
	list-style-type: none;
	padding: 0; margin: 0;
	text-align: center;
}

li {
	display: inline-block;
	padding-right: 40px;
}

/*** Hero Image ***/
.hero-img {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 5px;
}

.hero {
	position: relative;
}

.contact-button {
	position: absolute;
	right: 15px;
	bottom: 60px;
	color: #fff;
	font-size: 2em;
	background-color: #629c39;
	width: 210px;
	height: 60px;
	padding: 8px 15px 8px 15px;
	z-index: 10;
}

.overlay {
	color: #fff;
	font-size: 2.3em;
	position: absolute;
	top: 10px;
	z-index: 11;
}

.overlay ul {
	list-style-type: none;
}

.overlay li {
	padding-right: 20px;
	display: inline-block;
}

/*** Main Body Section ***/

/*** Skills ***/
.skill-section {
	margin: 0 auto 20px auto;
	min-height: 160px;
	max-width: 450px;
}

.skills-header {
	background-color: #629c39;
	color: #fff;
	padding: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	//border-bottom: 2px solid #629c39;
	min-height: 72px;
}

.skills-list {
	border: 2px solid #629C39;
	min-height: 125px;
	font-size: 1.2em;
}

.skill-item {
	display: block;
	padding: 3px;
}

/*** Featured Projects ***/
.title-featured {
	color: #40185b;
	padding-bottom: 5px;
}

.featured {
	color: #40185b;
	text-align: center;
	margin-bottom: 10px;
}

h3 {
	margin: 0;
}

.featured img {
	//border: 1px solid #40185b;
	border: 5px solid #000;
	border-top-width: 20px;
	border-bottom-width: 30px;
	border-radius: 15px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
}

.mobile-project-img {
	margin-left: 0;
}

p {
	margin-bottom: 0;
	font-size: 1.2em;
}

.description {
	text-align: left;
	padding-bottom: 20px;
}

.nohover:hover {
	text-decoration: none;
}

a {
	color: #5d3204;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

a:hover {
	color: #629c39;	
}

.tag-item {
	background-color: #629c39;
	color: #fff;
	padding: 10px;
	margin: 5px;
}


/*** Footer ***/
.footer {
	color: #5d3204;
	text-align: right;
	margin: 20px auto;
	border-top: 2px solid #629c39;
}

/*** Project Info Modals ***/
.modal-body,
.modal-footer {
	background: #bbe39e;
}

.modal-header {
	background: #629c39;
	color: #fff;
	font-size: 2em;
	padding: 0px 10px;
}

.modal-close {
	color: #fff;
	background: #629c39;
	font-size: 1.5em;
	padding: 5px;
}

.modal-close:hover {
	color: #fff;
	background: #5d3204;
	text-decoration: none;
}

.modal img {
	border: 1px solid #40185b;
}

.modal-description {
	font-size: 1.2em;
}

/*** Debugging Code ***/
/* For when I break things :P */
/* * {
	border-style: solid;
	border-width: 2px;
	border-color: red;
}*/